<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:fragment="userHeader" class="row row-cols-auto justify-content-end p-1" >
    <div class="col-auto d-flex">
        <div class="col-auto p-1 m-1 fw-bold" th:text="${#authentication.name}">유저 닉네임</div>
        <div class="col-auto p-1 m-1 fw-bold" th:text="|레벨 ${#authentication.getPrincipal().getLevel()}|">레벨 1</div>
    </div>
    <div class="col-auto d-flex">
        <div class="dropdown col-auto">
            <button class="p-1 ps-4 pe-4 m-1 btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">메뉴</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a href="/quests" class="dropdown-item">퀘스트 목록</a></li>
                <li><a href="/rewards" class="dropdown-item">보상 아이템</a></li>
                <li><a href="" class="dropdown-item">인벤토리</a></li>
                <li><a href="" class="dropdown-item">파티</a></li>
            </ul>
        </div>
        <a href="/user/status" class="col-auto p-1 m-1 btn btn-primary text-decoration-none">상태창</a>
        <form class="col-auto" th:method="post" th:action="@{/logout}">
            <button class="btn btn-secondary p-1 m-1">로그아웃</button>
        </form>
    </div>
</header>