<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_head ('상태창', ~{::style})}">
    <title>상태창</title>
    <style>
        @media (min-width: 768px) {
            .border-md-s-t {
                border-left: 1px solid #dee2e6!important
            }
        }
        @media (max-width: 768px) {
            .border-md-s-t {
                border-top: 1px solid #dee2e6!important
            }
        }

        @media (min-width: 576px) {
            .border-sm-s-t {
                border-left: 1px solid #dee2e6!important
            }
        }

        @media (max-width: 576px) {
            .border-sm-s-t {
                border-top: 1px solid #dee2e6!important
            }
        }
        #settingBtn {
            cursor: pointer;
        }

        .view-mode .nickname-change-element {
            display: none !important;
        }
        .change-mode .nickname-view-element {
            display: none !important;
        }
        .tooltip {
            font-size: 10px;
            max-width: 300px;
        }
    </style>
</head>
<body class="container">
<header th:replace="~{layout/head_menu :: user_menu}"></header>
<h1>상태창</h1>
    <div class="container position-absolute">
        <div class="position-absolute top-0 end-0 m-2">
            <img src="/image/settings.png" width="48px" height="48px" id="settingBtn"/>
        </div>
        <div class="row border">
            <div class="col-md-3 p-2">
                <div class="row text-center">
                    <div class="col-12">프로필 사진</div>
                </div>
                <div class="row text-center align-self-center">
                    <div>
                        <img src="/image/image.webp" class="border border-dark border-2"/>
                    </div>
                </div>
            </div>
            <div class="col-md border-md-s-t">
                <div class="row col p-2">
                    <div class="col-3 align-self-center text-center">닉네임</div>
                    <div class="col row">
                        <div class="col-auto align-self-center" th:text="${#authentication.name}">닉네임</div>
                    </div>
                </div>
                <div class="row col p-2">
                    <div class="col-3 text-center">레벨</div>
                    <div class="col-auto" th:text="${#authentication.principal.attributes['level']}">레벨</div>
                </div>
                <div class="row col p-2" th:with="exp=${#authentication.principal.attributes['exp']}">
                    <div class="col-3 text-center">현재 경험치</div>
                    <div class="col-auto" th:text="|${exp}(${exp*100/targetExp}%)|">경험치</div>
                </div>
                <div class="row col p-2">
                    <div class="col-3 text-center">소지 골드</div>
                    <div class="col-auto" th:text="${#authentication.principal.attributes['gold']}">골드</div>
                </div>
            </div>
        </div>
        <div class="row border border-top-0">
            <div class="col-sm-6 ">
                <div class="row p-2">
                    <div class="col-6 text-center">클리어한 퀘스트 수</div>
                    <div class="col-auto" th:text="${#strings.defaultString(questLog.get('COMPLETE'), 0)}">0</div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">실패한 퀘스트 수</div>
                    <div class="col-2" th:text="${#strings.defaultString(questLog.get('FAIL'), 0)}">0</div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">포기한 퀘스트 수</div>
                    <div class="col-auto" th:text="${#strings.defaultString(questLog.get('DISCARD'), 0)}">0</div>
                </div>
            </div>
            <div class="col-sm-6 border-sm-s-t">
                <div class="row p-2">
                    <div class="col-6 text-center">획득한 아이템 수</div>
                    <div class="col-auto" th:text="${#strings.defaultString(itemLog.get('EARN'), 0)}">0</div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">사용한 아이템 수</div>
                    <div class="col-auto" th:text="${#strings.defaultString(itemLog.get('USE'), 0)}">0</div>
                </div>
                <div class="row p-2">
                    <div class="col-6 text-center">버린 아이템 수</div>
                    <div class="col-auto" th:text="${#strings.defaultString(itemLog.get('ABANDON'), 0)}">0</div>
                </div>
            </div>
        </div>
<!--        <div class="row border border-top-0">-->
<!--            <div class="row m-2">달성한 업적</div>-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col overflow-scroll" style="max-height: 500px;">-->
<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto align-self-center">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">너무 대단해서 이름이 엄청나게 긴 업적을 달성한 것이 정말 엄청난 업적인 것이라는 업적은 사실 거짓말이고 그냥 이름이 엄청 긴 업적 이름이 어디까지 길어지나 테스트하는 용도로 업적명을 길게 적어보자 이렇게 긴 업적명이 없긴한데 일단 엄청 긴 업적</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row p-2 m-1 border">-->
<!--                            <div class="col-sm-auto">-->
<!--                                <img src="/image/image.webp" class="border border-dark border-2"/>-->
<!--                            </div>-->
<!--                            <div class="col-sm align-self-center">-->
<!--                                <div class="row p-2 border-bottom">-->
<!--                                    <div class="col-auto align-self-center">업적명</div>-->
<!--                                    <div class="col overflow-auto">엄청나게 긴 업적 명 첫 번째 업적이다.</div>-->
<!--                                </div>-->
<!--                                <div class="row p-2">-->
<!--                                    <div class="col-auto align-self-center">달성일</div>-->
<!--                                    <div class="col">2022-09-18</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>

    <!-- Modal -->
    <div class="modal fade" id="settingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="settingModalLabel">설정</h3>
                </div>
                <div class="modal-body" id="modalBody">
                    <div id="nicknameWrap" class="row mb-3 view-mode">
                        <label for="newNickname" class="col-3 col-form-label">닉네임</label>
                        <div class="col-6">
                            <input class="form-control" type="text" id="newNickname" size="20" th:value="${#authentication.name}" readonly>
                        </div>
                        <div class="col-3">
                            <div class="btn btn-success nickname-view-element" id="nicknameChangeBtn">변경</div>
                            <div class="btn btn-success nickname-change-element" id="nicknameDuplicateCheckBtn">중복체크</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="resetTime" class="col-3 col-form-label">초기화 시간</label>
                        <div class="col-auto">
                            <select class="form-select form-control" id="resetTime">
                                <option th:each="i: ${#numbers.sequence(0, 23)}"
                                        th:value="${i}"
                                        th:selected="${#authentication.principal.attributes['resetTime'] == i}"
                                        th:text="|${i}시|"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="coreTime" class="col-3 col-form-label">
                            코어타임
                            <img src="/image/question-mark.png"
                                 id="resetTimeToolTip"
                                 width="24px" height="24px"
                                 data-bs-toggle="tooltip"
                                 data-bs-placement="top"
                                 data-bs-html="true"
                                 data-bs-title="
                                 <span>오늘 진행할 퀘스트를 등록하는 시간이에요.<br>
                                 코어타임에 등록한 퀘스트를 클리어 해야 경험치를 획득할 수 있어요.<br>
                                 설정한 시간 + 1시간까지가 코어타임으로 설정돼요.</span>"/>
                        </label>
                        <div class="col-auto">
                            <select class="form-select form-control" id="coreTime">
                                <option th:each="i: ${#numbers.sequence(0, 23)}"
                                        th:value="${i}"
                                        th:selected="${#authentication.principal.attributes['coreTime'] == i}"
                                        th:text="|${i}시|"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooter">
                    <button type="button" class="btn btn-primary" id="settingSubmitBtn">저장</button>
                    <button type="button" class="btn btn-secondary" id="settingModalCloseBtn">취소</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function (){
        let resetTimeToolTip = document.getElementById('resetTimeToolTip');
        new bootstrap.Tooltip(resetTimeToolTip, );
    })

    function changeNicknameInputMode(isChangeMode) {
        let nicknameInput = document.getElementById('newNickname');
        let nicknameWrap = document.getElementById('nicknameWrap');

        if(isChangeMode) {
            nicknameInput.removeAttribute('readonly')
            nicknameWrap.classList.remove('view-mode');
            nicknameWrap.classList.add('change-mode');
        } else {
            nicknameInput.setAttribute('readonly', '')
            nicknameWrap.classList.add('view-mode');
            nicknameWrap.classList.remove('change-mode');
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        let settingBtn = document.getElementById('settingBtn');
        let settingModal = new bootstrap.Modal(document.getElementById('settingModal'));
        settingBtn.addEventListener('click', function() {
            settingModal.toggle();
        });

        let settingSubmitBtn = document.getElementById('settingSubmitBtn');

        settingSubmitBtn.addEventListener('click', function () {
            let nicknameWrap = document.getElementById('nicknameWrap');
            let isNicknameChangeMode = nicknameWrap.classList.contains('change-mode');

            let resetTime = document.getElementById('resetTime').value;
            let coreTime = document.getElementById('coreTime').value;
            let param = {};
            param['resetTime'] = resetTime
            param['coreTime'] = coreTime

            if(isNicknameChangeMode) {
                let nickname = document.getElementById('newNickname').value;
                if(nickname === '') {
                    alert('닉네임을 입력해 주세요.');
                    return;
                }
                param['nickname'] = nickname
            }

            let xhr = new XMLHttpRequest();
            let token = document.getElementsByName('_csrf')[0].getAttribute('content');
            let header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
            xhr.open('PUT', '/user');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('Accept', 'application/json');
            xhr.setRequestHeader(header, token);

            xhr.onload = () => {
                alert(xhr.response);
                if (xhr.status === 200) {
                    location.reload();
                }
            };

            xhr.send(JSON.stringify(param));
        });

        let nicknameChangeBtn = document.getElementById('nicknameChangeBtn');
        nicknameChangeBtn.addEventListener('click', () => changeNicknameInputMode(true))

        let modalCloseBtn = document.getElementById('settingModalCloseBtn');
        modalCloseBtn.addEventListener('click', function() {
            settingModal.hide()
            changeNicknameInputMode(false)
        })

        let nicknameDuplicateCheckBtn = document.getElementById('nicknameDuplicateCheckBtn');
        nicknameDuplicateCheckBtn.addEventListener('click', function() {
            let nickname = document.getElementById('newNickname').value;

            if(nickname === '') {
                alert('닉네임을 입력해 주세요.');
                return;
            }

            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/user?nickname=' + nickname);
            xhr.setRequestHeader('Accept', 'application/json');

            xhr.onload = () => {
                alert(xhr.response);
            };

            xhr.send();
        });
    });




</script>
</html>