<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>오늘의 퀘스트</title>
</head>
<body class="container">

<h1>오늘의 퀘스트</h1>

<div sec:authorize="isAnonymous()">
    <h2>사이트 이용에는 로그인이 필요합니다.</h2>
    <div class="d-flex">
        <a href="/oauth2/authorization/google" class="btn btn-primary text-decoration-none m-1">Google Login</a><br>
        <a href="/oauth2/authorization/naver" class="btn btn-success text-decoration-none m-1">Naver Login</a><br>
        <a href="/oauth2/authorization/kakao" class="btn btn-warning text-decoration-none m-1">Kakao Login</a>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="|${#authentication.name}님 반갑습니다.|"></h2>
    <div class="d-flex">
        <a href="/user/status" class="btn btn-primary m-1 text-decoration-none">상태창</a>
        <form th:method="post" th:action="@{/logout}" class="m-1">
            <button class="btn btn-secondary text-decoration-none">로그아웃</button>
        </form>
    </div>
</div>
</body>
<footer th:replace="~{layout/footer :: footer}"></footer>
</html>