<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_head ('퀘스트 목록', ~{::style})}">
    <style>
        .card{
            width: 400px!important;
            cursor: pointer;
        }
        .fw-semi-bold {
            font-weight: 600!important;
        }
        .card:hover {
            background-color: aliceblue!important;
        }
        .list-item {
            position: relative;
            display: block;
            padding: 0.5rem 1rem;
            color: #212529;
            border: 1px solid rgba(0,0,0,.125);
            border-width: 0 0 1px;
        }
        .list-group-flush>.list-item:last-child {
            border-bottom-width: 0;
        }
        .text-box {
            height: 72px;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .doodle-checkbox {
            display: block;
            background-image : url("/image/empty-checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox:hover {
            background-image : url("/image/empty-checkbox-hover.png");
            background-size: 34px, 34px;
        }

        .doodle-checkbox.on {
            display: block;
            background-image : url("/image/checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox.on:hover {
            background-image : url("/image/checkbox-hover.png");
            background-size: 34px, 34px;
        }

        .detail-quest-count:hover {
            background-color: #99CCFF !important;
        }

        .detail-quest-complete {
            background-color: #39b47b;
            text-decoration: line-through;
        }

        .proceed-quest .completed-quest-element {
            display: none !important;
        }

        .doodle-checkbox-readonly {
            display: block;
            background-image : url("/image/empty-checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox-readonly.on {
            display: block;
            background-image : url("/image/checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

    </style>
</head>
<body class="container">
    <header th:replace="~{layout/head_menu :: user_menu}"></header>
    <div class="row">
        <h1 class="col-auto">퀘스트 목록</h1>
        <div class="col-auto align-self-center">
            <select class="form-control form-select" th:name="state" th:id="state">
                <option th:each="state : ${stateList}" th:value="${state.name()}" th:text="${state.message}" th:selected="${searchCondition.state == state}"></option>
            </select>
        </div>
        <div class="col-auto align-self-center">
            <a class="btn btn-primary"href="/quests/save">퀘스트 등록</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-auto g-4 mb-4" id="questList">
        <div th:if="${questList. getSize() == 0}">
            등록된 퀘스트가 없습니다.
        </div>
        <div class="col" th:each="quest : ${questList.getContent()}">
            <a th:class="|card text-reset text-decoration-none card${quest.questId}|"
               th:classappend="${quest.canComplete ? '' : 'proceed-quest'}"
               th:href="|/quests/${quest.questId}|"
               th:with="isProceedQuest=${quest.state == quest.state.PROCEED}">
                <div class="card-header">
                    <span class="p-1 m-1 fw-semi-bold" th:text="|#${quest.seq}|"></span>
                    <span class="rounded text-white p-1 m-1"
                          th:text="${quest.type.getTitle()}"
                          th:classappend="${quest.type == quest.type.MAIN ? 'bg-warning' : 'bg-secondary'}">퀘스트 타입</span>
                    <span th:class="|${quest.state.cssClassInfo} p-1 m-1|" th:text="${quest.state.message}">퀘스트 상태</span>
                    <span class="p-1 fw-semi-bold" th:if="${quest.state == quest.state.COMPLETE || quest.state == quest.state.DISCARD}"
                          th:text="${#temporals.format(quest.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" th:text="${quest.title}">퀘스트 제목</h5>
                    <p class="card-text border-start border-2 ps-3 text-box" th:text="${quest.description}">퀘스트 설명</p>

                    <div class="mb-1" style="height: 216px;">
                        <div class="row mb-1 ps-3"
                             th:each="detailQuest : ${quest.detailQuests}"
                             th:with="isCompleteDetail=${detailQuest.state == detailQuest.state.COMPLETE}">
                            <span class="col-9 border border-1 rounded p-1 text-truncate"
                                  th:classappend="${isCompleteDetail ? 'detail-quest-complete' : ''}"
                                  th:text="${detailQuest.title}">
                                세부 퀘스트
                            </span>
                            <th:block th:switch="${detailQuest.type}">
                                <span class="col-3 justify-content-center align-items-center d-flex" th:case="${detailQuest.type.CHECK}">
                                    <span th:class="|${isProceedQuest ? 'doodle-checkbox' : 'doodle-checkbox-readonly'}|"
                                          th:classappend="|${isCompleteDetail ? 'on' : ''} ${isProceedQuest ? 'detail-quest-interact-btn' : ''}|"
                                          th:data-detail-id="${detailQuest.id}" th:data-quest-id="${quest.questId}"></span>
                                </span>
                                <span class="col-3 justify-content-center align-items-center d-flex" th:case="${detailQuest.type.COUNT}">
                                    <span th:class="|border border-1 rounded p-1 text-center ${isProceedQuest ? 'detail-quest-count' : ''}|"
                                          th:classappend="|${isCompleteDetail ? 'detail-quest-complete' : ''} ${isProceedQuest ? 'detail-quest-interact-btn' : ''}|"
                                          th:data-detail-id="${detailQuest.id}" th:data-quest-id="${quest.questId}"
                                          th:text="|${detailQuest.count}/${detailQuest.targetCount}|"></span>
                                </span>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush" >
                    <div class="list-item text-truncate" th:each="reward : ${quest.rewards}" th:text="${reward.name}">&nbsp;</div>
                    <div class="list-item text-truncate" th:if="${quest.rewards.size() < 3}" th:each="num : ${#numbers.sequence(1+quest.rewards.size(),3)}">&nbsp;</div>
                </div>
                <div class="card-footer d-flex">
                    <div class="col-9">
                        <span class="btn p-1 m-1">&nbsp;</span>
                    </div>
                    <div class="col-3 d-flex justify-content-center completed-quest-element">
                        <span class="btn-success p-1 m-1 rounded quest-complete-btn" th:if="${isProceedQuest}" th:data-quest-id="${quest.questId}">완료하기</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h4 class="visually-hidden mb-4 text-center" id="lastPageMessage">마지막 페이지입니다.</h4>
    <!-- Modal -->
    <div class="modal fade" id="detailQuestCountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailQuestCountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="detailQuestCountModalLabel">횟수를 입력하세요.</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <input class="form-item form-control" type="number" id="interactCount" placeholder="횟수" min="1" max="255">
                </div>
                <div class="modal-footer" id="modalFooter">
                    <button type="button" class="btn btn-primary" id="detailQuestCountSubmitBtn">저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">

    let pressEventDone;
    let isPressed;

    function showCountInputPopup(eventTarget, evt) {
        let interactCountModal = new bootstrap.Modal(document.getElementById('detailQuestCountModal'));
        interactCountModal.toggle();

        let interactCountSubmitBtn = document.getElementById('detailQuestCountSubmitBtn');

        interactCountSubmitBtn.removeEventListener('click', interactDetailQuest);
        interactCountSubmitBtn.addEventListener('click', () => {
            let interactCount = document.getElementById('interactCount').value;
            interactDetailQuest(eventTarget, evt, interactCount)
        })
    }

    function interactDetailQuestDelegate(eventTarget, evt) {
        evt.stopPropagation();
        evt.preventDefault();

        if(isPressed) {
            setTimeout(function() {
                if(isPressed) {
                    pressEventDone = true
                    // 팝업 창을 띄우고 팝업 창 동작이 완료되면 팝업창 제출 버튼에서 ajax 로직을 호출
                    showCountInputPopup(eventTarget, evt);
                }
            }, 1000)
        }else if(!pressEventDone) {
            pressEventDone = true
            interactDetailQuest(eventTarget, evt)
        }

    }

    function interactDetailQuest(eventTarget, evt, count) {
        evt.stopPropagation();
        evt.preventDefault();

        let body;
        if(count != null) body = JSON.stringify(count);

        let questId = eventTarget.getAttribute("data-quest-id");
        let detailQuestId = eventTarget.getAttribute("data-detail-id");

        let url = "/api/quests/" + questId + "/details/" + detailQuestId;

        const xhr = new XMLHttpRequest();
        xhr.open("put", url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("Accept", 'application/json');

        xhr.onload = () => {
            if (xhr.status === 200) {
                const result = JSON.parse(xhr.response);
                let detailQuest = result['detailQuest'];
                let canComplete = result['canComplete'];

                let titleWrap = eventTarget.parentElement.previousElementSibling;

                let className;
                if(detailQuest.type === 'CHECK') {
                    className = 'on';
                } else {
                    className = 'detail-quest-complete';
                    eventTarget.textContent = detailQuest['count'] + "/" + detailQuest['targetCount'];
                }

                if(detailQuest.state === 'COMPLETE') {
                    eventTarget.classList.add(className);
                    titleWrap.classList.add('detail-quest-complete');
                } else {
                    eventTarget.classList.remove(className);
                    titleWrap.classList.remove('detail-quest-complete');
                }

                let questCard = document.getElementsByClassName('card'+questId)[0];

                if(canComplete) {
                    questCard.classList.remove('proceed-quest');
                } else {
                    questCard.classList.add('proceed-quest');
                }

            } else {
                const errorResponse = JSON.parse(xhr.response);
                alert(errorResponse.message);
            }
        }

        xhr.send(body);
    }

    function completeQuest(eventTarget, evt) {
        evt.stopPropagation();
        evt.preventDefault();

        if (!confirm('퀘스트를 완료하시겠습니까?\n완료 시 되돌릴 수 없습니다.')) {
            return;
        }

        let questId = eventTarget.getAttribute("data-quest-id");

        let url = "/quests/" + questId;

        const xhr = new XMLHttpRequest();
        xhr.open("post", url);

        xhr.onload = () => {
            if (xhr.status === 200) {
                alert('퀘스트를 완료했습니다.');
                location.reload();
            } else {
                alert('퀘스트 완료에 실패했습니다.');
            }
        }

        xhr.send();
    }

    document.addEventListener("DOMContentLoaded", function() {
        let detailQuestInteractBtns = document.getElementsByClassName("detail-quest-interact-btn");
        for (let i = 0; i < detailQuestInteractBtns.length; i++) {
            let btn = detailQuestInteractBtns[i];
            let isCountBtn = btn.classList.contains('detail-quest-count');

            if(!isCountBtn) {
                btn.addEventListener('click', evt => interactDetailQuest(btn, evt))
                continue;
            }

            btn.addEventListener("mousedown", evt => {
                isPressed = true;
                pressEventDone = false;
                interactDetailQuestDelegate(btn, evt)
            })

            btn.addEventListener("mouseup", evt => {
                isPressed = false;
                interactDetailQuestDelegate(btn, evt)
            })
        }

        let questCompleteBtns = document.getElementsByClassName('quest-complete-btn');
        for (let i = 0; i < questCompleteBtns.length; i++) {
            questCompleteBtns[i].addEventListener('click', evt => completeQuest(questCompleteBtns[i], evt));
        }
    })


    let stateSelector = document.getElementById('state');
    stateSelector.addEventListener('change', function () {
        location.href = "?state=" + stateSelector.value;
    });

    const pageSize = 9;
    let currentPage = 0;
    let hasNext = [[${questList.hasNext}]];

    function getQuestPages(pageNo) {
        const state = document.getElementById('state').value;

        const xhr = new XMLHttpRequest();
        xhr.open("get", "/api/quests?page=" + pageNo + "&state=" + state);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("Accept", 'application/json');

        xhr.onload = () => {
            if (xhr.status === 200) {
                const result = JSON.parse(xhr.response);
                hasNext = !result.last;
                currentPage = result.number;

                const listEl = document.getElementById('questList');
                const questList = result.content;

                for (let i = 0; i < questList.length; i++) {
                    let quest = questList[i];
                    let questEl = createQuestCard(quest);
                    listEl.appendChild(questEl);
                }

            } else {
                alert(xhr.response.message);
            }
        }

        xhr.send();
    }

    function getScrollTop() {
        return (window.scrollY !== undefined) ? window.scrollY : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    };

    function getDocumentHeight() {
        const body = document.body;
        const html = document.documentElement;

        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };

    window.onscroll = function () {
        if(!hasNext && document.getElementById('lastPageMessage').classList.contains('visually-hidden')) {
            document.getElementById('lastPageMessage').classList.remove('visually-hidden');
        }

        if (getScrollTop() === getDocumentHeight() - window.innerHeight && hasNext) {
            getQuestPages(currentPage+1);
        }
    };

    function createQuestCard(quest) {
        let questState = quest.state;

        let cardFrame = document.createElement("div");
        cardFrame.className = "col";

        let cardAnchor = document.createElement("a");
        cardAnchor.className = "card text-reset text-decoration-none";
        cardAnchor.classList.add('card' + quest.questId);
        if(!quest['canComplete']) cardAnchor.classList.add('proceed-quest');
        cardAnchor.href = "/quests/" + quest.questId;

        let cardHeader = document.createElement("div");
        cardHeader.className = "card-header";

        let headerEl1 = document.createElement("span");
        headerEl1.className = "p-1 m-1 fw-semi-bold";
        headerEl1.textContent = "#" + quest.seq;

        let headerEl2 = document.createElement("span");
        headerEl2.className="rounded text-white p-1 m-1";
        headerEl2.textContent=quest.type['title'];
        if(quest.type.title === '메인') headerEl2.classList.add('bg-warning')
        else headerEl2.classList.add('bg-secondary')

        let headerEl3 = document.createElement("span");
        headerEl3.className= questState.cssClassInfo;
        headerEl3.classList.add("p-1");
        headerEl3.classList.add("m-1");
        headerEl3.textContent=questState.message;

        cardHeader.appendChild(headerEl1);
        cardHeader.appendChild(headerEl2);
        cardHeader.appendChild(headerEl3);

        cardAnchor.appendChild(cardHeader);

        let cardBody = document.createElement("div");
        cardBody.className = "card-body";

        let bodyEl1 = document.createElement("h5");
        bodyEl1.className="card-title text-truncate";
        bodyEl1.textContent=quest.title;


        let bodyEl2 = document.createElement("p");
        bodyEl2.className="card-text border-start border-2 ps-3 text-box"
        bodyEl2.textContent=quest.description;

        // 세부 퀘스트 HTML 생성
        let detailQuestsWrap = document.createElement("div");
        detailQuestsWrap.className="mb-1";
        detailQuestsWrap.style.height="216px";

        let detailQuests = quest.detailQuests;
        for (let i = 0; i < detailQuests.length; i++) {
            let detailQuest = detailQuests[i];

            let detailQuestRow = document.createElement('div');
            detailQuestRow.className = 'row mb-1 ps-3';

            let detailQuestNameSpan = document.createElement('span');
            detailQuestNameSpan.className = 'col-9 border border-1 rounded p-1 text-truncate';
            if(detailQuest.state === 'COMPLETE') detailQuestNameSpan.classList.add('detail-quest-complete');
            detailQuestNameSpan.textContent = detailQuest.title;

            let detailQuestInteractBtnWrap = document.createElement('span');
            detailQuestInteractBtnWrap.className = 'col-3 justify-content-center align-items-center d-flex';

            let detailQuestInteractBtn = document.createElement('span');
            if(questState.message === '진행') {
                detailQuestInteractBtn.className = detailQuest.type === 'CHECK'
                    ? 'border border-1 rounded p-1 text-center detail-quest-count'
                    : 'doodle-checkbox';
                detailQuestInteractBtn.classList.add('detail-quest-interact-btn')
            } else {
                detailQuestInteractBtn.className = detailQuest.type === 'CHECK'
                    ? 'border border-1 rounded p-1 text-center'
                    : 'doodle-checkbox-readonly';
            }

            detailQuestInteractBtn.setAttribute('data-quest-id', quest.questId);
            detailQuestInteractBtn.setAttribute('data-detail-id', detailQuest.id);

            if(detailQuest.state === 'COMPLETE') {
                detailQuestInteractBtn.classList.add(detailQuest.type === 'CHECK' ? 'detail-quest-complete' : 'on');
            }

            detailQuestInteractBtn.addEventListener("click", evt => interactDetailQuest(detailQuestInteractBtn, evt))

            detailQuestInteractBtnWrap.appendChild(detailQuestInteractBtn);

            detailQuestRow.appendChild(detailQuestNameSpan);
            detailQuestRow.appendChild(detailQuestInteractBtnWrap);

            detailQuestsWrap.appendChild(detailQuestRow);
        }
        cardBody.appendChild(bodyEl1);
        cardBody.appendChild(bodyEl2);
        cardBody.appendChild(detailQuestsWrap);

        cardAnchor.appendChild(cardBody);

        let rewardList = document.createElement("div");
        rewardList.className = "list-group list-group-flush";

        for (let i = 0; i < 3; i++) {
            let rewardItem = document.createElement("div");
            rewardItem.className = "list-item text-truncate";
            rewardItem.innerHTML = quest.rewards[i] ? quest.rewards[i].name : "&nbsp;";
            rewardList.appendChild(rewardItem);
        }

        cardAnchor.appendChild(rewardList);

        let cardFooter = document.createElement("div");
        cardFooter.className="card-footer d-flex";

        let footerEl1 = document.createElement('div');
        footerEl1.className = "col-9";

        let emptyBtn = document.createElement('span');
        emptyBtn.className = "btn p-1 m-1";
        emptyBtn.innerHTML = '&nbsp;'

        footerEl1.appendChild(emptyBtn)

        let footerEl2 = document.createElement('div');
        footerEl2.className = "col-3 d-flex justify-content-center completed-quest-element";

        let completeBtn = document.createElement('span');
        completeBtn.className = "btn-success p-1 m-1 rounded quest-complete-btn";
        completeBtn.setAttribute('data-quest-id', quest.questId);
        completeBtn.textContent = "완료하기";

        if(questState.message === '진행') {
            completeBtn.addEventListener('click', evt => completeQuest(completeBtn, evt));
            footerEl2.appendChild(completeBtn);
        }

        cardFooter.appendChild(footerEl1);
        cardFooter.appendChild(footerEl2);

        cardAnchor.appendChild(cardFooter);

        cardFrame.appendChild(cardAnchor);

        return cardFrame;
    }

</script>
</html>