<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_head ('퀘스트 등록', ~{::style})}">
    <style>
        .disable-style {
            background-color: #e9ecef !important;
        }
        .field-error {
            border-color: #dc3545; !important;
            color: #dc3545; !important;
        }
    </style>
</head>
<body class="container">
    <header th:replace="~{layout/head_menu :: user_menu}"></header>
    <div class="position-relative" style="max-width: 700px; min-width: 400px;">
        <form method="post" th:object="${quest}" th:action="@{/quests/save}">
            <h1>퀘스트 등록</h1>
            <input type="hidden" name="_method" value="post"/>
            <div class="row mb-3">
                <label th:for="difficulty" class="col-sm-2 col-form-label">난이도</label>
                <div class="col-auto">
                    <select th:field="*{difficulty}" class="form-item form-select" th:errorclass="field-error">
                        <option value="">==난이도 선택==</option>
                        <option th:each="dfc : ${difficultyList}"
                                th:value="${dfc.name()}" th:text="${dfc.getText()}"
                                th:data-exp="${dfc.experience}" th:data-gold="${dfc.gold}">difficulty</option>
                    </select>
                    <div th:errorclass="field-error" th:errors="*{difficulty}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">보상</label>
                <div class="col-auto">
                    <div id="diffReward" class="col-auto form-control disable-style" th:text="'난이도를 선택하세요.'"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="title" class="col-sm-2 col-form-label">제목</label>
                <div class="col-sm-10">
                    <input class="form-item form-control" type="text" th:field="*{title}" th:errorclass="field-error">
                    <div th:errorclass="field-error" th:errors="*{title}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="description" class="col-sm-2 col-form-label">설명</label>
                <div class="col-sm-10">
                    <textarea style="resize: none" class="form-item form-control" type="text" rows="3" th:field="*{description}" th:errorclass="field-error"></textarea>
                    <div th:errorclass="field-error" th:errors="*{description}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="detailQuests" class="col-sm-2 col-form-label align-items-center">세부 퀘스트</label>
                <div class="col-sm-10">
                    <div class="row mb-1">
                        <div class="col-sm-auto">
                            <div class="btn btn-primary" id="detailQuestAddBtn">추가</div>
                        </div>
                    </div>
                    <div th:errorclass="field-error" th:errors="*{detailQuests}"></div>
                </div>
            </div>

            <div class="row mb-3">
                <label th:for="reward" class="col-sm-2 col-form-label align-items-center">보상 아이템</label>
                <div class="col-sm-10">
                    <div class="d-flex mb-1" id="rewardSelector">
                        <select class="form-item form-select w-75" id="rewards">
                            <option value="">==보상 아이템 선택==</option>
                            <option th:each="reward : ${rewardList}"
                                    th:id="|reward${reward.id}|"
                                    th:value="${reward.id}" th:text="${reward.name}">reward</option>
                        </select>
                    </div>
                    <div th:errorclass="field-error" th:errors="*{rewards}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="deadLineDate" class="col-sm-2 col-form-label">마감일</label>
                <div class="col-auto">
                    <input class="form-item form-control" type="date" th:field="*{deadLineDate}">
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="deadLineTime" class="col-sm-2 col-form-label">마감시간</label>
                <div class="col-auto">
                    <input class="form-item form-control" type="time" th:field="*{deadLineTime}">
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="repeat" class="col-sm-2 col-form-label">반복여부</label>
                <div class="col-auto align-self-center">
                    <div class="form-check form-switch">
                        <input class="form-item form-control form-check-input" type="checkbox" th:field="*{repeat}" th:errorclass="field-error">
                        <div th:errorclass="field-error" th:errors="*{repeat}"></div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
            <a class="btn btn-success" id="listBtn" href="/quests">목록</a>
        </form>
    </div>
</form>

</body>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        let difficultySelect = document.getElementById('difficulty');

        difficultySelect.addEventListener("change", function () {
            let exp = this.options[this.selectedIndex].getAttribute('data-exp');
            let gold = this.options[this.selectedIndex].getAttribute('data-gold');

            let rewardText = exp + ' Exp, ' + gold + ' Gold';

            if(this.selectedIndex == 0) rewardText = '난이도를 선택하세요.';
            document.getElementById('diffReward').innerText = rewardText;
        });

        let rewards = document.getElementById('rewards');
        rewards.addEventListener('change', function () {
            let rewardSelector = document.getElementById('rewardSelector');

            let selectedText = rewards.selectedOptions[0].text;
            let selectedId = rewards.selectedOptions[0].id;
            let selectedValue = rewards.selectedOptions[0].value;

            if(!selectedId) return;

            let tempRowHtml = document.createElement('div');
            tempRowHtml.className = 'reward-row d-flex mb-1 temp-row';
            tempRowHtml.innerHTML
                = '<div class="w-75">'
                +     '<input type="hidden" name="rewards" id="'+selectedId+'" value="'+selectedValue+'">'
                +     '<span class="form-control disable-style">'+selectedText+'</span>'
                + '</div>'
                + '<div class="reward-delete btn btn-secondary ms-1" onclick="deleteRewardRow(this)">삭제</div>';

            rewardSelector.before(tempRowHtml);

            rewards.selectedOptions[0].classList.add('d-none');
            rewards.selectedIndex = 0;

            let rewardRowCount = document.getElementsByClassName('reward-row').length;
            if(rewardRowCount == 3) rewards.setAttribute('disabled', '');
        });

        let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');
        detailQuestAddBtn.addEventListener('click', function(e) {
            let detailQuestHtml = createDetailQuestRow();
            e.target.parentElement.parentElement.before(detailQuestHtml);

            let detailQuestRowCount = document.getElementsByClassName('detail_quest_row').length;
            if(detailQuestRowCount == 5) {
                detailQuestAddBtn.classList.toggle('visually-hidden');
            }
        })

    });

    function deleteRewardRow(t) {
        let listElId = t.previousElementSibling.children[0].id;
        t.parentElement.remove();
        document.getElementById(listElId).classList.remove('d-none');

        let rewards = document.getElementById('rewards');
        rewards.removeAttribute('disabled');
    }

    function deleteDetailQuestRow(t) {
        t.parentElement.parentElement.remove();
        let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');
        detailQuestAddBtn.classList.remove('visually-hidden');
    }

    function observeDetailQuestType(t) {
        let selectedOption = t.selectedOptions[0].value;
        let rowNo = t.getAttribute('data-no');

        let countInputHtml = document.createElement('div');
        countInputHtml.className = 'col-sm-auto';
        let inputHtml = document.createElement('input');
        inputHtml.className = 'form-control';
        inputHtml.type = 'number';
        inputHtml.id = 'detailQuest' + rowNo;
        inputHtml.name = 'detailQuest[' + rowNo + '].count';
        inputHtml.placeholder = '횟수';
        inputHtml.min = '1';
        inputHtml.max = '255';
        countInputHtml.appendChild(inputHtml)

        if(selectedOption == 'COUNT') {
            t.parentElement.after(countInputHtml);
        } else {
            t.parentElement.nextSibling.remove();
        }
    }

    function createDetailQuestRow() {
        let detailQuestHtml = document.createElement('div');
        detailQuestHtml.className = 'row mb-1 detail_quest_row';

        let titleDiv = document.createElement('div');
        titleDiv.className = 'col-sm';

        let titleInput = document.createElement('input');
        titleInput.className = 'form-control';
        titleInput.name = 'detailQuests.title';
        titleInput.type = 'text';

        let selectDiv = document.createElement('div');
        selectDiv.className = 'col-sm-auto';

        let selectInput = document.createElement('select');
        selectInput.className = 'form-select';
        selectInput.name = 'detailQuests.type';
        selectInput.setAttribute('data-no', '0');
        selectInput.setAttribute('onchange', 'observeDetailQuestType(this)');

        let option1 = document.createElement('option');
        option1.value = 'CHECK';
        option1.text = '체크박스';

        let option2 = document.createElement('option');
        option2.value = 'COUNT';
        option2.text = '카운트';

        let buttonDiv = document.createElement('div');
        buttonDiv.className = 'col-sm-auto';

        let deleteButton = document.createElement('div');
        deleteButton.className = 'btn btn-secondary';
        deleteButton.textContent = '삭제';
        deleteButton.setAttribute('onclick', 'deleteDetailQuestRow(this)');

        titleDiv.appendChild(titleInput);

        selectInput.appendChild(option1);
        selectInput.appendChild(option2);
        selectDiv.appendChild(selectInput);

        buttonDiv.appendChild(deleteButton);

        detailQuestHtml.appendChild(titleDiv);
        detailQuestHtml.appendChild(selectDiv);
        detailQuestHtml.appendChild(buttonDiv);

        return detailQuestHtml;
    }


</script>
</html>