<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>퀘스트 등록</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<h1>퀘스트 등록</h1>

<form method="post" th:object="${quest}" th:action="@{/quests/save}">
    <div>제목 : <input type="text" th:field="*{title}"></div>
    <div>설명 : <input type="text" th:field="*{description}"></div>
    <div>마감일 : <input type="date" th:field="*{deadLineDate}"></div>
    <div>마감시간 : <input type="time" th:field="*{deadLineTime}"></div>
    <div>반복여부 : <input type="checkbox" th:field="*{repeat}"></div>
    <button type="submit">등록</button>
</form>

</body>
</html>