<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_head ('퀘스트 조회', ~{::style})}">
    <style>
        .disable-style {
            background-color: #e9ecef !important;
        }
        .field-error {
            border-color: #dc3545; !important;
            color: #dc3545; !important;
        }

        .view-form .update-form-element {
            display: none !important;
        }

        .update-form .view-form-element {
            display: none !important;
        }

        .detail-quest-interact-btn {
            cursor: pointer;
        }

        .doodle-checkbox {
            display: block;
            background-image : url("/image/empty-checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox-readonly {
            display: block;
            background-image : url("/image/empty-checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox-readonly.on {
            display: block;
            background-image : url("/image/checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox:hover {
            background-image : url("/image/empty-checkbox-hover.png");
            background-size: 34px, 34px;
        }

        .doodle-checkbox.on {
            display: block;
            background-image : url("/image/checkbox.png");
            background-size: 34px, 34px;
            width: 34px;
            height: 34px;
        }

        .doodle-checkbox.on:hover {
            background-image : url("/image/checkbox-hover.png");
            background-size: 34px, 34px;
        }

        .detail-quest-count:hover {
            background-color: #99CCFF !important;
        }

        .view-form .detail-quest-complete {
            background-color: #39b47b !important;
            text-decoration: line-through;
        }

        .proceed-quest .completed-quest-element {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="container">
    <header th:replace="~{layout/head_menu :: user_menu}"></header>
    <div class="position-relative" id="formWrap" style="max-width: 700px; min-width: 400px;" th:classappend="${quest.canComplete ? '' : 'proceed-quest'}">
        <form method="post" id="questForm" class="view-form" th:object="${quest}" th:action="@{|/quests/${questId}|}">
            <h1>퀘스트 조회</h1>
            <input type="hidden" name="_method" value="post"/>
            <input type="text" class="form-item visually-hidden" th:field="${quest.canComplete}" disabled>
            <input type="text" class="form-item visually-hidden" th:field="${quest.lastModifiedDate}" disabled>
            <div class="row mb-3">
                <label th:for="state" class="col-sm-2 col-form-label">상태</label>
                <div class="col-auto">
                    <div class="col-sm-10">
                        <input type="hidden" th:field="*{state}">
                        <input class="form-control"th:value="*{state.message}" disabled>
                    </div>
                </div>
            </div>
            <div class="row mb-3" th:if="${quest.state == quest.state.COMPLETE || quest.state == quest.state.DISCARD}" th:switch="${quest.state}">
                <div class="col-sm-2 col-form-label" th:case="${quest.state.COMPLETE}">완료일자</div>
                <div class="col-sm-2 col-form-label" th:case="${quest.state.DISCARD}">포기일자</div>
                <div class="col-auto">
                    <input class="form-control" th:value="${#temporals.format(quest.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="difficulty" class="col-sm-2 col-form-label">난이도</label>
                <div class="col-auto">
                    <select th:field="*{difficulty}" class="form-item form-select" th:errorclass="field-error" disabled>
                        <option value="">==난이도 선택==</option>
                        <option th:each="dfc : ${difficultyList}"
                                th:value="${dfc.name()}" th:text="${dfc.getText()}"
                                th:data-exp="${dfc.experience}" th:data-gold="${dfc.gold}">difficulty</option>
                    </select>
                    <div th:errorclass="field-error" th:errors="*{difficulty}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">보상</label>
                <div class="col-auto">
                    <div id="diffReward" style="background-color: #e9ecef" class="col-auto form-control" th:text="|*{difficulty.experience} Exp, *{difficulty.gold} Gold|"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="title" class="col-sm-2 col-form-label">제목</label>
                <div class="col-sm-10">
                    <input class="form-item form-control" type="text" th:field="*{title}" th:errorclass="field-error" disabled>
                    <div th:errorclass="field-error" th:errors="*{title}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="description" class="col-sm-2 col-form-label">설명</label>
                <div class="col-sm-10">
                    <textarea style="resize: none" class="form-item form-control" type="text" rows="3" th:field="*{description}" th:errorclass="field-error" disabled></textarea>
                    <div th:errorclass="field-error" th:errors="*{description}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="detailQuests" class="col-sm-2 col-form-label align-items-center">세부 퀘스트</label>
                <div class="col-sm-10"
                    th:with="isProceedQuest=${quest.state == quest.state.PROCEED}">
                    <div class="row mb-1 detail-quest-row"
                         th:each="detailQuest : ${quest.detailQuests}"
                         th:with="isCompleteDetail=${detailQuest.state == detailQuest.state.COMPLETE}"
                         th:id="|detailQuestRow${detailQuestStat.index}|"
                         th:data-id="${detailQuestStat.index}">
                        <div class="col-sm">
                            <input type="text" class="form-item visually-hidden" th:name="|detailQuests[${detailQuestStat.index}].id|" th:value="${detailQuest.id}" disabled>
                            <input type="text" class="form-item visually-hidden" th:name="|detailQuests[${detailQuestStat.index}].count|" th:value="${detailQuest.count}" disabled>
                            <input class="form-item form-control"
                                   th:name="|detailQuests[${detailQuestStat.index}].title|"
                                   th:value="${detailQuest.title}"
                                   th:classappend="${isCompleteDetail ? 'detail-quest-complete' : ''}"
                                   th:errorclass="field-error"
                                   type="text" disabled>
                        </div>
                        <span class="col-2 justify-content-center align-items-center d-flex view-form-element"
                              th:switch="${detailQuest.type}">
                            <span th:case="${detailQuest.type.CHECK}"
                                  th:class="|${isProceedQuest ? 'doodle-checkbox' : 'doodle-checkbox-readonly'}|"
                                  th:classappend="|${isCompleteDetail ? 'on' : ''} ${isProceedQuest ? 'detail-quest-interact-btn' : ''}|"
                                  th:data-detail-id="${detailQuest.id}" th:data-quest-id="${questId}"></span>
                            <span th:case="${detailQuest.type.COUNT}"
                                  th:class="|border border-1 rounded p-1 text-center ${isProceedQuest ? 'detail-quest-count' : ''}|"
                                  th:classappend="|${isCompleteDetail ? 'detail-quest-complete' : ''} ${isProceedQuest ? 'detail-quest-interact-btn' : ''}|"
                                  th:data-detail-id="${detailQuest.id}" th:data-quest-id="${questId}"
                                  th:text="|${detailQuest.count}/${detailQuest.targetCount}|"></span>
                        </span>
                        <div class="col-sm-auto count-col update-form-element" th:if="${detailQuest.type == detailQuest.type.COUNT}">
                            <input class="form-item form-control" type="number"
                                   th:id="|countInput${detailQuestStat.index}|"
                                   th:name="|detailQuests[${detailQuestStat.index}].targetCount|"
                                   th:value="${detailQuest.targetCount}"
                                   th:errorclass="field-error"
                                   placeholder="횟수" min="1" max="255" disabled>
                        </div>
                        <div class="col-sm-auto update-form-element">
                            <select class="form-item form-select" th:name="|detailQuests[${detailQuestStat.index}].type|" th:data-no="${detailQuestStat.index}" onchange="observeDetailQuestType(this)" disabled>
                                <option value="CHECK" th:selected="${detailQuest.type == detailQuest.type.CHECK}">체크박스</option>
                                <option value="COUNT" th:selected="${detailQuest.type == detailQuest.type.COUNT}">카운트</option>
                            </select>
                        </div>
                        <div class="col-sm-auto update-form-element">
                            <div class="btn btn-secondary detail-quest-delete-btn" th:data-id="${detailQuestStat.index}">삭제</div>
                        </div>
                        <div class="field-error"
                             th:if="${#fields.hasErrors('detailQuests[' + detailQuestStat.index + ']')}"
                             th:each="err : ${#fields.errors('detailQuests[' + detailQuestStat.index + ']')}"
                             th:text="${err}"></div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-sm-auto">
                            <div class="btn btn-primary visually-hidden" id="detailQuestAddBtn">추가</div>
                        </div>
                    </div>
                    <div th:errorclass="field-error" th:errors="*{detailQuests}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="reward" class="col-sm-2 col-form-label align-items-center">보상 아이템</label>
                <div class="col-sm-10">
                    <div th:each="reward : ${rewards}" class="reward-row d-flex mb-1" th:id="|rewardRow${reward.id}|" th:data-id="${reward.id}">
                        <div class="w-75">
                            <input type="hidden" th:name="rewards" th:id="|reward${reward.id}|" th:value="${reward.id}">
                            <span class="form-control disable-style" th:text="${reward.name}">reward</span>
                        </div>
                        <div class="reward-delete-btn btn btn-secondary ms-1 update-form-element" th:data-id="${reward.id}">삭제</div>
                    </div>
                    <div class="d-flex mb-1 update-form-element" id="rewardSelector">
                        <select class="form-item form-select w-75" id="rewards">
                            <option value="">==보상 아이템 선택==</option>
                            <option th:each="rewardOption : ${rewardOptions}"
                                    th:id="|rewardOption${rewardOption.id}|"
                                    th:value="${rewardOption.id}" th:text="${rewardOption.name}">reward</option>
                        </select>
                    </div>
                    <div th:errorclass="field-error" th:errors="*{rewards}"></div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="deadLineDate" class="col-sm-2 col-form-label">마감일</label>
                <div class="col-auto">
                    <input class="form-item form-control" type="date" th:field="*{deadLineDate}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="deadLineTime" class="col-sm-2 col-form-label">마감시간</label>
                <div class="col-auto">
                    <input class="form-item form-control" type="time" th:field="*{deadLineTime}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="repeat" class="col-sm-2 col-form-label">반복여부</label>
                <div class="col-auto align-self-center">
                    <div class="form-check form-switch">
                        <input class="form-item form-control form-check-input" type="checkbox" th:field="*{repeat}" th:errorclass="field-error" disabled>
                        <div th:errorclass="field-error" th:errors="*{repeat}"></div>
                    </div>
                </div>
            </div>

            <button th:if="${quest.state.name()=='PROCEED'}" type="button" class="btn btn-success mb-2 completed-quest-element" id="completeBtn" onclick="submitQuestForm('POST')">완료</button>
            <button th:if="${quest.state.name()=='PROCEED'}" type="button" class="btn btn-primary mb-2" id="updateBtn" onclick="toggleUpdateForm()">수정</button>
            <button type="button" class="btn btn-secondary mb-2 update-form-element" onclick="toggleUpdateForm()">취소</button>
            <button th:if="${quest.state.name()=='PROCEED'}" type="button" class="btn btn-danger mb-2 view-form-element" onclick="submitQuestForm('DELETE', '/discard');">포기</button>
            <button th:if="${quest.state.name()!='PROCEED' && quest.state.name()!='DELETE'}" type="button" class="btn btn-danger mb-2" onclick="submitQuestForm('DELETE');">삭제</button>
            <a class="btn btn-dark mb-2" id="listBtn" href="/quests">목록</a>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">

    const Reward = {
        createTempRow : function (selectedId, selectedValue, selectedText) {
            let tempRowHtml = document.createElement('div');
            tempRowHtml.className = 'reward-row d-flex mb-1 temp-row';
            tempRowHtml.innerHTML
                = '<div class="w-75">'
                +     '<input type="hidden" name="rewards" id="'+selectedId+'" value="'+selectedValue+'">'
                +     '<span class="form-control disable-style">'+selectedText+'</span>'
                + '</div>'
                + '<div class="reward-delete-btn btn btn-secondary ms-1" onclick="deleteRewardRow(this)">삭제</div>';

            return tempRowHtml;
        },

        hideRowAndShowSelectorOption : function () {
            let targetId = 'rewardRow' + this.getAttribute('data-id');
            let optionId = 'rewardOption' + this.getAttribute('data-id');
            document.getElementById(targetId).classList.add('visually-hidden');
            document.getElementById(optionId).classList.remove('d-none');

            let rewards = document.getElementById('rewards');
            rewards.removeAttribute('disabled');
        },

        appendTempRowAndHideSelectorOption : function () {
            let rewardSelector = document.getElementById('rewardSelector');

            let selectedText = this.selectedOptions[0].text;
            let selectedId = this.selectedOptions[0].id;
            let selectedValue = this.selectedOptions[0].value;

            if(!selectedId) return;

            let tempRowHtml = Reward.createTempRow(selectedId, selectedValue, selectedText);
            rewardSelector.before(tempRowHtml);

            this.selectedOptions[0].classList.add('d-none');
            this.selectedIndex = 0;

            let rewardRowCount = document.getElementsByClassName('reward-row').length;
            let hiddenRewardRowCount = document.getElementsByClassName('reward-row visually-hidden').length;
            rewardRowCount -= hiddenRewardRowCount;
            if(rewardRowCount == 3) this.setAttribute('disabled', '');
        },

    }

    const DetailQuest = {
        hideRowAndShowAddBtn : function () {
            let targetId = 'detailQuestRow' + this.getAttribute('data-id');
            document.getElementById(targetId).classList.add('visually-hidden');

            let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');
            detailQuestAddBtn.classList.remove('visually-hidden');
        },

        appendTempRow : function() {
            let detailQuestHtml = createDetailQuestRow();
            this.parentElement.parentElement.before(detailQuestHtml);

            let detailQuestRowCount = document.getElementsByClassName('detail-quest-row').length;
            if(detailQuestRowCount == 5) {
                this.classList.toggle('visually-hidden');
            }
        },

    }

    document.addEventListener("DOMContentLoaded", function () {

        // 수정 폼 submit 후 BindingResult에 Error 발생 시 수정 폼으로 전환
        if([[${hasError}]]) {
            toggleUpdateForm();
        }

        // 난이도 이벤트 바인딩
        let difficultySelect = document.getElementById('difficulty');
        difficultySelect.addEventListener("change", changeDifficultyInfoText);

        // 퀘스트 보상 이벤트 바인딩
        let rewardDeleteBtns = document.getElementsByClassName('reward-delete-btn');
        for (let i = 0; i < rewardDeleteBtns.length; i++) {
            rewardDeleteBtns[i].addEventListener('click', Reward.hideRowAndShowSelectorOption);
        }

        let rewards = document.getElementById('rewards');
        rewards.addEventListener('change', Reward.appendTempRowAndHideSelectorOption);

        // 세부 퀘스트 이벤트 바인딩
        let detailQuestDeleteBtns = document.getElementsByClassName('detail-quest-delete-btn');
        for (let i = 0; i < detailQuestDeleteBtns.length; i++) {
            detailQuestDeleteBtns[i].addEventListener('click', DetailQuest.hideRowAndShowAddBtn);
        }

        let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');
        detailQuestAddBtn.addEventListener('click', DetailQuest.appendTempRow);
    });

    function changeDifficultyInfoText() {
        let rewardText = createRewardText(this);

        if(this.selectedIndex == 0) rewardText = '난이도를 선택하세요.';
        document.getElementById('diffReward').innerText = rewardText;
    }

    function createRewardText(target) {
        let exp = target.options[target.selectedIndex].getAttribute('data-exp');
        let gold = target.options[target.selectedIndex].getAttribute('data-gold');
        let rewardText = exp + ' Exp, ' + gold + ' Gold';
        return rewardText;
    }

    let inputData = new Array();

    function restoreInputValue(inputs) {
        for (let i = 0; i < inputs.length; i++) {
            let type = inputs[i].getAttribute('type');
            if (type === 'checkbox') {
                inputs[i].checked = inputData[i];
                continue;
            }

            inputs[i].value = inputData[i];
        }

        inputData = new Array();

        let difficulty = document.getElementById('difficulty');
        document.getElementById('diffReward').innerText = createRewardText(difficulty);

        let countCols = document.getElementsByClassName('count-col');
        for (let i = 0; i < countCols.length; i++) {
            countCols[i].classList.remove('visually-hidden');
        }
    }

    function saveInputValues(inputs) {
        for (let i = 0; i < inputs.length; i++) {
            let type = inputs[i].getAttribute('type');
            let value = inputs[i].value;
            if (type === 'checkbox') value = inputs[i].checked;
            inputData.push(value);
        }
    }

    function toggleInputValue() {
        let updateBtn = document.getElementById('updateBtn');
        let inputs = document.getElementById('questForm').getElementsByClassName('form-item');

        if (updateBtn.classList.contains('btn-on')) {
            saveInputValues(inputs);
        } else {
            restoreInputValue(inputs);
        }

    }

    function toggleClassIfItemContained(iterableNodes, attributeName, findItem, className) {
        for (let j = 0; j < iterableNodes.length; j++) {
            if(findItem.value === iterableNodes[j].getAttribute(attributeName)) {
                findItem.classList.add(className);
                return;
            }
        }

        findItem.classList.remove(className);
    }

    function toggleUpdateForm() {

        // 공통 요소 처리 로직
        let updateBtn = document.getElementById('updateBtn');
        let questForm = document.getElementById('questForm');
        let inputs = questForm.getElementsByClassName('form-item');

        updateBtn.classList.toggle('btn-on');

        for (let i = 0; i < inputs.length; i++) {
            let type = inputs[i].getAttribute('type');
            if(type == 'hidden') continue;

            inputs[i].toggleAttribute('disabled');
        }

        // 퀘스트 보상 요소 처리 로직
        let rewardRows = document.getElementsByClassName('reward-row');
        let rewards = document.getElementById('rewards');

        if(rewardRows.length == 3) rewards.setAttribute('disabled', '');
        else rewards.removeAttribute('disabled');

        // 세부 퀘스트 요소 처리 로직
        let detailQuestRows = document.getElementsByClassName('detail-quest-row');
        let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');

        if(detailQuestRows.length === 5 || !updateBtn.classList.contains('btn-on')) detailQuestAddBtn.classList.add('visually-hidden');
        else detailQuestAddBtn.classList.remove('visually-hidden');

        // 업데이트 폼일 때 처리 로직
        if (updateBtn.classList.contains('btn-on')) {
            updateBtn.innerText = '저장';
            updateBtn.setAttribute('onclick', `submitQuestForm('PUT')`);

            questForm.className = 'update-form'

            // 퀘스트 보상 선택 여부에 따라 display 상태 변경
            let options = rewards.options;
            for (let i = 0; i < options.length; i++) {
                toggleClassIfItemContained(rewardRows, 'data-id', options[i], 'd-none');
            }

        } else { // 상세보기 폼일 때 처리 로직
            updateBtn.innerText = '수정';
            updateBtn.setAttribute('onclick', `toggleUpdateForm()`);

            questForm.className = 'view-form'

            // 삭제 상태가 DB에 반영되지 않은 요소들 복구
            for (let i = 0; i < rewardRows.length; i++) {
                rewardRows[i].classList.remove('visually-hidden');
            }

            for (let i = 0; i < detailQuestRows.length; i++) {
                detailQuestRows[i].classList.remove('visually-hidden');
            }

            // 임시 row 제거
            let tempRows = document.getElementsByClassName('temp-row');
            while (tempRows.length > 0) {
                tempRows[0].remove();
            }
        }

        // 변경 전 데이터 저장 및 복구 함수
        toggleInputValue();
    }

    function submitQuestForm(method, uri) {
        let form = document.getElementById('questForm');
        let methodInput = document.getElementsByName('_method')[0];
        methodInput.setAttribute('value', method);

        if (method == 'PUT') {
            let rewardRows = document.getElementsByClassName('reward-row');

            for (let i = 0; i < rewardRows.length; i++) {
                if (!rewardRows[i].classList.contains('visually-hidden')) continue;

                let targetId = 'reward' + rewardRows[i].getAttribute('data-id');
                document.getElementById(targetId).remove();
            }

            let detailQuestRows = document.getElementsByClassName('detail-quest-row');

            for (let i = 0; i < detailQuestRows.length; i++) {
                if (!detailQuestRows[i].classList.contains('visually-hidden')) continue;

                let targetId = 'detailQuestRow' + detailQuestRows[i].getAttribute('data-id');
                document.getElementById(targetId).remove();
            }

        } else if (method == 'DELETE') {
            let process = '삭제';
            if(uri == '/discard') {
                process = '포기';
                let action = form.getAttribute("action");
                form.setAttribute("action", action + uri);
            }

            if (!confirm('퀘스트 ' + process + ' 시 되돌릴 수 없습니다.\n정말 ' + process + ' 하시겠습니까?')) {
                return;
            }
        } else if (method == 'POST') {
            if (!confirm('퀘스트를 완료하시겠습니까?\n완료 시 되돌릴 수 없습니다.')) {
                return;
            }
        } else {
            return;
        }

        form.submit();
    }

    function observeDetailQuestType(t) {
        let selectedOption = t.selectedOptions[0].value;
        let rowNo = t.getAttribute('data-no');

        let countInputHtml = document.createElement('div');
        countInputHtml.className = 'col-sm-auto temp-row';
        countInputHtml.id = 'tempCount' + rowNo;
        countInputHtml.innerHTML = '<input class="form-control form-item" type="number" name="detailQuests[' + rowNo + '].targetCount" placeholder="횟수" min="1" max="255">';

        if(selectedOption == 'COUNT') {
            t.parentElement.before(countInputHtml);
        } else {
            let countInput = document.getElementById('countInput' + rowNo);
            let tempCountInput = document.getElementById('tempCount' + rowNo);

            // 세부 퀘스트 기존 타입이 카운트인 경우 카운트 input show
            if (countInput != null) {
                countInput.parentElement.classList.add('visually-hidden');
            }

            // 임시 카운트 input 존재 시 remove
            if(tempCountInput != null) {
                tempCountInput.remove();
            }
        }
    }

    function createDetailQuestRow() {
        let detailQuestRowCount = document.getElementsByClassName('detail-quest-row').length;

        let detailQuestHtml = document.createElement('div');
        detailQuestHtml.className = 'row mb-1 detail-quest-row temp-row';
        detailQuestHtml.innerHTML
            = '<div class="col-sm">'
            + '<input class="form-control" name="detailQuests[' + detailQuestRowCount + '].title" type="text">'
            + '</div>'
            + '<div class="col-sm-auto">'
            + '<select class="form-select" name="detailQuests[' + detailQuestRowCount + '].type" data-no="' + detailQuestRowCount + '" onChange="observeDetailQuestType(this)">'
            + '<option value="CHECK">체크박스</option>'
            + '<option value="COUNT">카운트</option>'
            + '</select>'
            + '</div>'
            + '<div class="col-sm-auto">'
            + '<div class="btn btn-secondary" onClick="deleteDetailQuestRow(this)">삭제</div>'
            + '</div>';

        return detailQuestHtml;
    }


    function deleteRewardRow(t) {
        let listElId = t.previousElementSibling.children[0].id;
        t.parentElement.remove();
        document.getElementById(listElId).classList.remove('d-none');

        let rewards = document.getElementById('rewards');
        rewards.removeAttribute('disabled');
    }

    function deleteDetailQuestRow(t) {
        t.parentElement.parentElement.remove();
        let detailQuestAddBtn = document.getElementById('detailQuestAddBtn');
        detailQuestAddBtn.classList.remove('visually-hidden');
    }

    function interactDetailQuest(eventTarget, evt) {
        evt.stopPropagation();
        evt.preventDefault();

        let questId = eventTarget.getAttribute("data-quest-id");
        let detailQuestId = eventTarget.getAttribute("data-detail-id");

        let url = "/api/quests/" + questId + "/details/" + detailQuestId;

        const xhr = new XMLHttpRequest();
        xhr.open("put", url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("Accept", 'application/json');
        let token = document.getElementsByName('_csrf')[0].getAttribute('content');
        let header = document.getElementsByName('_csrf_header')[0].getAttribute('content');
        xhr.setRequestHeader(header, token);

        xhr.onload = () => {
            if (xhr.status === 200) {
                const result = JSON.parse(xhr.response);
                let detailQuest = result['detailQuest'];
                let canComplete = result['canComplete'];

                let titleWrap = eventTarget.parentElement.previousElementSibling.lastElementChild;

                let className;
                if(detailQuest.type === 'CHECK') {
                    className = 'on';
                } else {
                    className = 'detail-quest-complete';
                    eventTarget.textContent = detailQuest['count'] + "/" + detailQuest['targetCount'];
                }

                if(detailQuest.state === 'COMPLETE') {
                    eventTarget.classList.add(className);
                    titleWrap.classList.add('detail-quest-complete');
                } else {
                    eventTarget.classList.remove(className);
                    titleWrap.classList.remove('detail-quest-complete');
                }

                let formWarp = document.getElementById('formWrap');

                if(canComplete) {
                    formWarp.classList.remove('proceed-quest');
                } else {
                    formWarp.classList.add('proceed-quest');
                }

            } else {
                const errorResponse = JSON.parse(xhr.response);
                alert(errorResponse.message);
            }
        }

        xhr.send();
    }

    document.addEventListener("DOMContentLoaded", function() {
        let detailQuestInteractBtns = document.getElementsByClassName("detail-quest-interact-btn");
        for (let i = 0; i < detailQuestInteractBtns.length; i++) {
            detailQuestInteractBtns[i].addEventListener("click", evt => interactDetailQuest(detailQuestInteractBtns[i], evt))
        }
    })

</script>
</html>