<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>
    <appender name="ASYNC_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/async-failed.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %level --- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/async-failed-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <charset>${FILE_LOG_CHARSET}</charset>
    </appender>

    <logger name="asyncErrorLogger" level="ERROR">
        <appender-ref ref="ASYNC_ERROR_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>